body {
    background-color: #F2F2F2;
    max-width: 1920px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, p, figure {
    margin: 0;
}

.nav_bar ul, .info_block, .latest_news, .row, .vacancies {
    display: flex;
}

.nav_bar a {
    padding: 0 3vw;
    color: white;
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
    transition: .5s;
}

.nav_bar a:hover {
    color: #FF0000;
    opacity: .6;
}

.nav_bar li {
    border-right: 1px solid #5c5c5c;
}

.nav_bar li:last-child {
    border: none;
}

.lang_switcher button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}

.social_links a {
    color: #007EFF;
    margin-right: 10px;
}

.lang_switcher button:active {
    opacity: .6;
}

.lang_switcher span {
    color: #5c5c5c;
}

.nav_wrapper {
    display: flex;
    max-width: 1570px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.main_wrapper {
    width: 1260px;
    margin: 0 auto;
}

header {
    position: relative;
    margin-bottom: 60px;
}

.header_bar {
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.video_presentation {
    position: relative;
}

.video_title {
    position: absolute;
    width: 550px;
    color: white;
    bottom: 20%;
    left: 8%;
}

.video_title h1 {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 77px;
    word-wrap: normal;
    margin-bottom: 60px;
}

.video_title p {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    margin-top: 50px;
}

video[poster] {
    height: 100vh;
    object-fit: fill;
}

.divider {
    height: 4px;
    background-color: white;
}

.news_block {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.main_news, .about_post, .slider_block {
    width: 950px;
}

.newest_block {
    margin-bottom: 44px;
}

.info_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info_text p {
    line-height: 1.5;
    text-decoration: underline;
    color: #555555;
}

h4.info_title {
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
}

.picture {
    margin-right: 24px;
}

img {
    width: auto;
}

.date {
    font-size: 12px;
    color: #555555;
}

.hashtag {
    font-weight: bold;
}

.hashtag.event {
    color: #007EFF;
}

.hashtag.press {
    color: #FF0000;
}

.hashtag.meetup {
    color: #18CA06;
}

.date_block {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.flex_block {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 510px;
    margin-top: 50px;
}

.filter_block {
    margin-right: 24px;
    width: 300px;
    height: 560px;
}

.filter_block h2 {
    display: inline-flex;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #373737;
    border-bottom: 4px solid #FF0000;
    text-transform: uppercase;
}

.filter_links {
    padding: 0;
    list-style: none;
}

.filter_links li a {
    color: #555555;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
}

.filter_links li {
    margin-bottom: 10px;
}

.download_btn {
    background: white url("../images/download_white.png") 255px 7px no-repeat;
    background-size: 25px;
    width: 100%;
}
.button {
    background-color: #1D49BA;
    border: none;
    color: white;
    font-family: "Heebo", sans-serif;
    font-weight: 700;
    font-size: 21px;
    border-radius: 5px;
    padding: 12px;
    text-align: start;
    cursor: pointer;
    margin-top: 16px;
    outline: none;
}

.latest_news .info_block {
    display: flex;
    flex-direction: column;
    width: 462px;
    margin-right: 24px;
    height: 583px;
}

.latest_news .info_text {
    flex-grow: 2;
}

.about_block {
    display: flex;
    justify-content: center;
    margin-bottom: 148px;
}

.about_block .filter_block h2 {
    margin-bottom: 60px;
}

.about_post h3.info_title {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #373737;
    margin-bottom: 30px;
    text-decoration: none;
}

.about_post .info_text p {
    text-decoration: none;
    line-height: 1.7;
}

.about_block .filter_block,
.about_block .info_text {
    justify-content: start;
}

.second_part {
    flex-direction: row-reverse;
    margin-top: 48px;
}

.second_part .info_text {
    justify-content: center;
    margin-right: 24px;
}

.products_block {
    display: flex;
    justify-content: center;
}

#product h2 {
    margin-bottom: 140px;
}

#product .filter_links li {
    margin-bottom: 40px;
}

#product a {
    color: #037EFF;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 48px;
}

#product a:visited {
    font-size: 40px;
    color: #999999;
    text-decoration: none;
}

.icon_farseer {
    height: 41px;
    width: 37px;
    margin-right: 10px;
}

h3.product_title {
    display: inline-block;
    color: #373737;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 48px;
    text-decoration: none;
    margin-bottom: 30px;
}

#gallery {
    text-align: center;
    margin-bottom: 48px;
}

.slider_block p {
    text-decoration: none;
    color: #373737;
    margin-bottom: 30px;
    line-height: 1.6;
}

.slider_buttons {
    display: inline-flex;
    justify-content: space-around;
    width: 176px;
}

.slider_btn {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #DADADA;
}

.red {
    background-color: #CB2026;
}

#gallery .photos {
    position: relative;
    height: 835px;
}

#gallery .photos img {
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 1s;
}

#gallery .photos img.showed {
    opacity: 1;
}

.tagline, .product_description h3.info_title {
    font-size: 48px;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
}

.tagline {
    color: #007EFF;
}

.product_description .info_text {
    justify-content: space-evenly;
}

.product_description .second_part {
    margin-bottom: 48px;
    margin-top: 0;
}

.last_child, .row {
    margin-bottom: 48px;
}

.product_content {
    display: flex;
    flex-direction: column;
}

.hiring_row {
    width: 1435px;
    display: flex;
}

.row p, .hiring_info p {
    line-height: 1.5;
    color: #555555;
}

.background {
    background: url("../images/Careers.png") 0 0 no-repeat;
    height: 793px;
    background-size: cover;
    padding: 218px 0 162px 156px;
    min-width: 55%;
    margin-right: 24px;
}

.background h2 {
    color: white;
    font-size: 77px;
    width: 82%;
}

.background p {
    color: white;
    width: 80%;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
}

.red_line {
    border: 2px solid #FF0000;
    margin: 40px 0;
}

.hiring_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hiring_info h3 {
    color: #373737;
    font-size: 48px;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    margin-bottom: 48px;
}



.vacancy_links li {
    margin-bottom: 20px;
}

.vacancy_links {
    list-style: none;
}

.vacancy_links li::before {
    content: "\2022";
    color: #037EFF;
    font-weight: bold;
    display: inline-block;
    width: .9em;
    margin-left: -1em;
}


.vacancy_links a {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #037EFF;
}

.hiring_info button.width {
    width: 50%;
}

.subscribe {
    height: 480px; /*временно*/
    background: linear-gradient(0deg, rgba(29, 73, 186, 1) 0%, rgba(3, 126, 255, 1) 100%);;
}

footer {
    background-color: #303133;
    padding: 85px 162px 42px;
}

.footer_bar {
    display: flex;
    justify-content: space-between;
}

.rights {
    color: #999999;
    font-size: 15px;
    font-family: "PT Sans", sans-serif;
}

.links_column {
    padding: 0 30px 0 20px;
    border-left: 1px solid #FF0000;
}

.links_column, .logo_column, .vacancy_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links_column:last-child {
    border: none;
    text-align: end;
}

.links_column a {
    color: #999999;
    margin-bottom: 10px;
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
}

.links_column a:hover {
    color: #DADADA;
}

.phone_number {
    font-size: 24px;
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
}

.address {
    color: white;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
}